<!doctype html>
<html ng-app="t">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="test">
<form novalidate name="loginForm" class="simple-form">
    <p>
        Username: <input type="text" ng-model="user.username"/>
    </p>

    <p>
        Password: <input type="password" ng-model="user.password"/>
    </p>

    <p>
        <button ng-click="h(user)">Log in</button>
    </p>
</form>
</body>
</html>
